.titlecards {
  margin-top: 50px;
  margin-bottom: 30px;
}

.titlecards h2 {
  margin-bottom: 20px;
  margin-left: 20px;
}

.card-list {
  display: flex;
  gap: 10px;
  overflow-x: scroll; /* Enable horizontal scroll */
  padding: 10px 20px;
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

.card-list::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Edge */
}

.card-list img {
  width: 180px;
  height: 300px;
  border-radius: 4px;
  cursor: pointer;
  flex-shrink: 0; /* Prevent images from shrinking */
}

.card-list .card {
  position: relative;
}

.card-list .card {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
}

.card-list .card img {
  width: 230px;
  height: 300px;
  border-radius: 4px;
  cursor: pointer;
}

.card-list .card p {
  margin-top: 5px; /* Add 5px margin from the image */
  font-size: small;
  background-color: rgba(163, 38, 38, 0.8);
  color: white;
  padding: 3px 6px;
  border-radius: 4px;
  text-align: center; /* Center text */
}
